rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /blogs/{blogId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /performance_events/{eventId} {
      allow read: if request.auth != null;
      allow create: if request.resource.data.kind in ["lead", "visit"];
      allow write: if request.auth != null;
    }
  }
}
